<p style="color: green"><%= notice %></p>

<% content_for :title, "Artists" %>

<h1>Streetartists in Bordeaux</h1>

<div id="artists">
  <% @artists.each do |artist| %>
    <%= render artist %>
    <p>
      <%= link_to "See Artist", artist %>
    </p>
  <% end %>
</div>



<button type="button" class="btn btn-dark"> <%= link_to "Add A New Artist", new_artist_path %> </button>
