<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">StreetArt Bdx</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="https://street-art-bordeaux-ruby.osc-fr1.scalingo.io/streetarts">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Artists</a>
    </ul>
  </div>
</nav>

<% content_for :title, "New streetart" %>

<h1>New streetart</h1>

<%= render "form", streetart: @streetart %>

<br>

<div>
  <%= link_to "Back to streetarts", streetarts_path %>
</div>
